:root {
  /* Colors */
  --color-midnight-indigo: #060daa;
  --color-carbon-black: #191817;
  --color-barely-white: #fcfaee;
  --color-ash-gray: #555555;
  --color-pure-white: #ffffff;
  --color-pale-silver: #e5e5e5;
  --color-pure-black: #000000;

  /* Typography — Font Families */
  --font-beosupreme: 'BeoSupreme', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}